

/* GLOBAL */
body {
    font-family: 'Playfair Display', serif;
    background: url('../image/1.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    color: #2e2e2e;
}

/* HEADER */
header {
    padding: 30px 10px;
    text-align: left;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    /* display: flex;
    align-items: center; */
    gap: 15px;
    
}

header h1 {
    margin: 10px 0 0 0;
    font-size: 2em;
}

/* MAIN */
main {
    background: rgba(255, 255, 240, 0.85);
    margin: 40px auto;
    width: 80%;
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    padding: 20px 40px;
}

/* AUTEURS */
.section.auteurs {
    background-color: rgba(255, 255, 250, 0.9);
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.section.auteurs ul {
    list-style: none;
    padding: 0;
}

/* MENU */
nav {
    text-align: center;
    background-color: rgba(220, 210, 170, 0.9);
    padding: 15px;
    border-radius: 15px;
    margin: 20px 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

nav a {
    text-decoration: none;
    color: #2a2a2a;
    font-weight: bold;
    margin: 0 20px;
    transition: 0.3s;
}
nav a:hover {
    color: #7b5e2a;
    transform: scale(1.1);
}

/* INTRO */
.intro {
    background-color: rgba(255, 255, 240, 0.95);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    margin: 20px;
}

.intro p {
    text-align: justify;
    line-height: 1.6;
}

/* PLAN */
.plan {
    background-color: rgba(255, 255, 240, 0.95);
    border-radius: 25px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.plan ul {
    list-style: none;
}

/* BUTTON */
.button {
    background-color: rgba(255, 255, 240, 0.95);
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin: 20px;
    cursor: pointer;
}
.button:hover {
    color: #7b5e2a;
    transform: scale(1.1);
}

/* DEV SECTIONS */
.dev, .CLN {
    text-align: center;
    margin: 40px 20px;
}

/* logo */
.logo{
   width: 40px; 
   height: 30PX;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background-color: rgba(200, 190, 160, 0.9);
    box-shadow: 0 -3px 10px rgba(0,0,0,0.3);
    font-weight: bold;
}